body
{
    padding: 5px;
    margin: 10px;
    background-color: black;
}

aside, section
{
    display: inline-block;
}

aside
{
    padding-top: 0px;
    line-height: 5em;
    font-size: xx-large;
}

h3
{
    color: black;
    font-size: 35px;
}


.left
{
    display: inline-block;
    float: left;
    background-color: darkred;
    margin-right: 1%;
    width: 15%;
    text-align: center;
    height: 100vh;
}

.right
{
    display: inline-block;
    width: 84%;
    background-color: red;
    font-size: 25px;
    line-height: 1.7em;
    height: 100vh;
}
input
{
    font-size: 15px;
    width: 15em;
}

div
{
    padding-top: 2%;
    display: inline-block;
    float: left;
}

#div2
{
    padding-left: 2%;
    padding-right: 2%;
    background-color: red;
}

#div3
{
    padding-left: 1%;
    padding-right: 1%;
    background-color: red;
}

button
{
    color: rgb(240, 197, 122);
    font-size: 1em;
    background: transparent;
    border-radius: 10px;
}

iframe
{
    min-width: 700px;
    min-height: 550px;
}